services:
  node1:
    image: reelfake-node
    container_name: reelfake-api-1
    build: .
    env_file: .env.prod
    ports:
      - 8001:8000
    networks:
      - reelfake-net
    environment:
      - APP_NAME=reelfake-api-node-1
      - NODE_ENV=production
  node2:
    image: reelfake-node
    container_name: reelfake-api-2
    build: .
    env_file: .env.prod
    ports:
      - 8002:8000
    networks:
      - reelfake-net
    environment:
      - APP_NAME=reelfake-api-node-2
      - NODE_ENV=production
  node3:
    image: reelfake-node
    container_name: reelfake-api-3
    build: .
    env_file: .env.prod
    ports:
      - 8003:8000
    networks:
      - reelfake-net
    environment:
      - APP_NAME=reelfake-api-node-3
      - NODE_ENV=production
networks:
  reelfake-net:
    driver: bridge
