openapi: 3.1.0
info:
  version: 1.0.0
  title: Reel Fake Api
  description: A REST api for buying or renting a movie dvd (only for educational purposes)
  license:
    name: MIT License
    url: https://mit-license.org
  contact:
    name: Pratap Reddy
    email: pratapreddy15@gmail.com
servers:
  - url: http://reelfake.com
    description: Production server
  - url: http://127.0.0.1:8000
    description: Local server
security:
  - reelFakeApiKey: []
  - cookieAuth: []
paths:
  /api_key:
    post:
      summary: Generate the api key
      operationId: generateApiKey
      security: []
      responses:
        '201':
          description: Successfully generated the api key
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: string
                  expiringAt:
                    type: string
                    format: date-time
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /auth/register:
    post:
      summary: Create user account
      operationId: registerUser
      security: []
      requestBody:
        description: Provide the user email and password for registration
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '201':
          description: Successfully created a new user
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          $ref: '#/components/responses/internalServerError'
  /auth/login:
    post:
      summary: Login user
      operationId: login
      security: []
      requestBody:
        description: Provide the user email and password for login
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '201':
          description: User logged in successfully
          headers:
            Set-Cookie:
              description: The token generated on successful login is sent in a cookie
              schema:
                type: string
                example: auth_token=abcde12345
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          $ref: '#/components/responses/internalServerError'
  /auth/logout:
    get:
      summary: Logout user
      operationId: logout
      security: []
      responses:
        '204':
          description: User logged out successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          $ref: '#/components/responses/internalServerError'
  /genres:
    get:
      summary: Get all available genres
      operationId: getGenres
      responses:
        '200':
          description: Successfully returned a list of available movie genres
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/genre'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /cities:
    get:
      summary: Get the list of the cities
      operationId: getCities
      parameters:
        - in: query
          name: includeCountry
          description: Include the country data for each city (if true will each city will contain country object)
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successfully returned a list of the cities
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/cityWithCountry'
                      length:
                        type: integer
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/city'
                      length:
                        type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /countries:
    get:
      summary: Get all the countries
      operationId: getCountries
      responses:
        '200':
          description: Successfully returned a list of countries
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/country'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /movie_languages:
    get:
      summary: Get all available movie languages
      operationId: getMovieLanguages
      responses:
        '200':
          description: Successfully returned a list of available movie languages
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movieLanguage'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /movies:
    get:
      summary: Get movies by page
      operationId: getMovies
      parameters:
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of movies from.
            The movies are split into multiple pages with each page having a limited number of movies.
          schema:
            type: integer
            default: 1
        - in: query
          name: genres
          required: false
          description: |
            The comma separated list of genres to filter the movies. The valid genres are action, adventure, animation, comedy, crime, documentary, drama, family, fantasy, history, horror, music , mystery, romance, science fiction, thriller, war and western.
          schema:
            type: array
            items:
              type: string
        - in: query
          name: releaseYear
          required: false
          description: |
            The release year to use for filtering the movies by release date. 
            The release year must be between 1970 and 2050 inclusively.
          schema:
            type: integer
        - in: query
          name: releaseFrom
          required: false
          description: |
            The release date as the starting point of date range to filter the movies by release date.
            The release year must be between 1970 and 2050 inclusively. The date format is yyy-mm-dd.
            For example, 2024-01-01 for January 1st 2024 or 2024-12-31 for December 31st 2024.
          schema:
            type: string
            format: date
        - in: query
          name: releaseTo
          required: false
          description: |
            The release date as the ending point of date range to filter the movies by release date.
            The release year must be between 1970 and 2050 inclusively. The date format is yyy-mm-dd.
            For example, 2024-01-01 for January 1st 2024 or 2024-12-31 for December 31st 2024.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successfully returned a list of movies for the given page
          headers:
            rf-page-number:
              description: The page number that the list of movies returned belong to
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movieSummary'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          description: The page is out of range meaning the page number provided in the request query has exceeded the total number of movies present.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /movies/{movieId}:
    get:
      summary: Get movie detail using the id
      operationId: getMovieById
      parameters:
        - in: path
          name: movieId
          required: true
          description: The id of the move that is requested
          schema:
            type: integer
        - in: query
          name: includeActors
          required: false
          description: |
            Whether or not to include the actors of the movie. Accepted values are true, false, yes, no, 0 and 1.
            If includeActors value is truthy then the movie object will contain actors array.
            If this is not present in query then it will default to false. If any value other than the accepted ones are
            given, then 400 is returned.
          schema:
            type: boolean
      responses:
        '200':
          description: Successfully returned the movie data with or without the actors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/movieWithActors'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          description: The movie does not exist for the given id
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /movies/{id}/stores:
    get:
      summary: Get stock count of the movie in all the stores
      operationId: findInStores
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the movie
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned the stock count in all the stores
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/storeInventory'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          description: No stores has the movie meaning the movie is out stock
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /actors:
    get:
      summary: Get the actor list with pagination support
      operationId: getActors
      parameters:
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of actors from.
            The actors are split into multiple pages with each page having a limited number of actors.
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successfully returned a list of actors
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/actor'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /actors/search:
    get:
      summary: Get the actor list with pagination support
      operationId: searchActors
      parameters:
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of actors from.
            The actors are split into multiple pages with each page having a limited number of actors.
          schema:
            type: integer
            default: 1
        - in: query
          name: q
          required: false
          description: |
            The sequence of characters to search for in the name of the actors.
            Either this or name must be present in the query.
          schema:
            type: string
        - in: query
          name: name
          required: false
          description: The name of the actor to search for
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned a list of actors
          headers:
            rf-page-number:
              description: The page number for the page that is sent
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/actor'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /actors/{id}:
    get:
      summary: Get actor detail using the id
      operationId: getActorById
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the actor that is requested
          schema:
            type: integer
        - in: query
          name: includeMovies
          required: false
          description: |
            Whether or not to include the movies for the actor. Accepted values are true, false, yes, no, 0 and 1.
            If includeMovies value is truthy then the actor object with the movies are returned.
            If this is not present in query then it will default to false. If any value other than the accepted ones are
            given, then 400 is returned.
          schema:
            type: boolean
      responses:
        '200':
          description: Successfully returned an actor data with (schema -> actorWithMovies) or without the movies (schema -> actor)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/actorWithMovies'
                  - $ref: '#/components/schemas/actor'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          description: The movie does not exist for the given id
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /stores:
    get:
      summary: Get list of stores
      operationId: getStores
      responses:
        '200':
          description: Successfully returned a list of stores
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/store'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /stores/{id}/stock:
    get:
      summary: Get the number of in-stock movies in a given store
      operationId: getStockCount
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the store
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned the number of in-stock movies in a given store
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  stockCount:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /stores/{id}/movies:
    get:
      summary: Get in-stock movies in a store page by page
      operationId: getMoviesInStore
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the store
          schema:
            type: integer
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of in-stock movies from.
            The movies are split into multiple pages with each page having a limited number of items.
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successfully returned in-stock movies in a store for the given page number
          headers:
            rf-page-number:
              description: The page number that the data returned belong to
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movie'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          description: |
            The page is out of range meaning the page number provided in the request query 
            has exceeded the total number of movies present in a store.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
components:
  securitySchemes:
    reelFakeApiKey:
      type: apiKey
      name: reelfake-api-key
      in: header
    cookieAuth:
      type: apiKey
      name: auth_token
      in: cookie
  responses:
    internalServerError:
      description: Server encountered unexpeted error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    unauthorized:
      description: Api key is missing or invalid
      headers:
        WWW_Authenticate:
          schema:
            type: string
  schemas:
    genre:
      type: object
      properties:
        id:
          type: integer
        genreName:
          type: string
    cityWithCountry:
      type: object
      properties:
        id:
          type: integer
        cityName:
          type: string
        stateName:
          type: string
        country:
          type: object
          properties:
            id:
              type: integer
            countryName:
              type: string
            countryCode:
              type: string
    city:
      type: object
      properties:
        id:
          type: integer
        cityName:
          type: string
        stateName:
          type: string
        countryId:
          type: integer
    country:
      type: object
      properties:
        id:
          type: integer
        countryName:
          type: string
        countryCode:
          type: string
    movieLanguage:
      type: object
      properties:
        id:
          type: integer
        languageName:
          type: string
        languageCode:
          type: string
    movieSummary:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        overview:
          type: string
        runtime:
          type: integer
        releaseDate:
          type: string
          format: date
        genres:
          type: array
          items:
            type: string
        country:
          type: array
          items:
            type: string
        language:
          type: string
        popularity:
          type: number
          format: float
        ratingAverage:
          type: integer
          format: float
        ratingCount:
          type: integer
        posterUrl:
          type: string
        rentalRate:
          type: number
          format: float
        rentalDuration:
          type: integer
    movieWithActors:
      type: object
      properties:
        id:
          type: integer
        imdbId:
          type: string
        title:
          type: string
        originalTitle:
          type: string
        overview:
          type: string
        runtime:
          type: integer
        genres:
          type: array
          items:
            type: string
        country:
          type: array
          items:
            type: string
        language:
          type: string
        movieStatus:
          type: string
        popularity:
          type: number
        budget:
          type: integer
        revenue:
          type: integer
        ratingAverage:
          type: integer
        ratingCount:
          type: integer
        posterUrl:
          type: string
        rentalRate:
          type: number
        rentalDuration:
          type: integer
        actors:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              actorName:
                type: string
              characterNAme:
                type: string
              castOrder:
                type: integer
              profilePictureUrl:
                type: string
    storeInventory:
      type: object
      properties:
        id:
          type: integer
        inventoryId:
          type: integer
        movieId:
          type: integer
        addressLine:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string
        phoneNumber:
          type: string
        stock:
          type: integer
    actor:
      type: object
      properties:
        id:
          type: integer
        imdbId:
          type: string
        actorName:
          type: string
        biography:
          type: string
        birthday:
          type: string
          format: date
        deathday:
          type: string
          format: date
        placeOfBirth:
          type: string
        popularity:
          type: number
          format: float
        profilePictureUrl:
          type: string
    actorWithMovies:
      type: object
      properties:
        id:
          type: integer
        imdbId:
          type: string
        actorName:
          type: string
        biography:
          type: string
        birthday:
          type: string
          format: date
        deathday:
          type: string
          format: date
        placeOfBirth:
          type: string
        popularity:
          type: number
          format: float
        profilePictureUrl:
          type: string
        movies:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              title:
                type: string
              releaseDate:
                type: string
                format: date
              genres:
                type: array
                items:
                  type: string
              ratingAverage:
                type: integer
                format: float
              ratingCount:
                type: integer
              posterUrl:
                type: string
    store:
      type: object
      properties:
        id:
          type: integer
        addressLine:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        phoneNumber:
          type: string
    movie:
      type: object
      required:
        - id
        - imdbId
        - title
        - originalTitle
        - overview
        - runtime
        - releaseDate
        - genres
        - country
        - language
        - movieStatus
        - popularity
        - budget
        - revenue
        - ratingAverage
        - ratingCount
        - posterUrl
        - rentalDuration
        - rentalRate
      properties:
        id:
          type: integer
        imdbId:
          type: string
        title:
          type: string
        originalTitle:
          type: string
        overview:
          type: string
        runtime:
          type: integer
        releaseDate:
          type: string
          format: date
        genres:
          type: array
          items:
            type: string
        country:
          type: array
          items:
            type: string
        language:
          type: string
        movieStatus:
          type: string
        popularity:
          type: number
        budget:
          type: integer
        revenue:
          type: integer
        ratingAverage:
          type: integer
        ratingCount:
          type: integer
        posterUrl:
          type: string
        rentalRate:
          type: number
        rentalDuration:
          type: integer
        stock:
          type: integer
