openapi: 3.1.0
info:
  version: 1.0.0
  title: Reel Fake Api
  description: A REST api for buying or renting a movie dvd (only for educational purposes)
  license:
    name: MIT License
    url: https://mit-license.org
  contact:
    name: Pratap Reddy
    email: pratapreddy15@gmail.com
servers:
  - url: http://reelfake.com
    description: Production server
  - url: http://127.0.0.1:8000
    description: Local server
security:
  - ReelFake_ApiKey_Auth: []
paths:
  /genres:
    get:
      summary: Get all available genres
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getGenres
      responses:
        '200':
          description: Successfully returned a list of available movie genres
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/genre'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /cities:
    get:
      summary: Get the list of the cities
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getCities
      parameters:
        - in: query
          name: includeCountry
          description: Include the country data for each city (if true will each city will contain country object)
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successfully returned a list of the cities
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/cityWithCountry'
                      length:
                        type: integer
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/city'
                      length:
                        type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /countries:
    get:
      summary: Get all the countries
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getCountries
      responses:
        '200':
          description: Successfully returned a list of countries
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/country'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /movie_languages:
    get:
      summary: Get all available movie languages
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getMovieLanguages
      responses:
        '200':
          description: Successfully returned a list of available movie languages
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movieLanguage'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /movies:
    get:
      summary: Get movies by page
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getMovies
      parameters:
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of movies from.
            The movies are split into multiple pages with each page having a limited number of movies.
          schema:
            type: integer
            default: 1
        - in: query
          name: genres
          required: false
          description: |
            The comma separated list of genres to filter the movies. The valid genres are action, adventure, animation, comedy, crime, documentary, drama, family, fantasy, history, horror, music , mystery, romance, science fiction, thriller, war and western.
          schema:
            type: array
            items:
              type: string
        - in: query
          name: releaseYear
          required: false
          description: |
            The release year to use for filtering the movies by release date. 
            The release year must be between 1970 and 2050 inclusively.
          schema:
            type: integer
        - in: query
          name: releaseFrom
          required: false
          description: |
            The release date as the starting point of date range to filter the movies by release date.
            The release year must be between 1970 and 2050 inclusively. The date format is yyy-mm-dd.
            For example, 2024-01-01 for January 1st 2024 or 2024-12-31 for December 31st 2024.
          schema:
            type: string
            format: date
        - in: query
          name: releaseTo
          required: false
          description: |
            The release date as the ending point of date range to filter the movies by release date.
            The release year must be between 1970 and 2050 inclusively. The date format is yyy-mm-dd.
            For example, 2024-01-01 for January 1st 2024 or 2024-12-31 for December 31st 2024.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successfully returned a list of movies for the given page
          headers:
            rf-page-number:
              description: The page number that the list of movies returned belong to
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movie'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          description: The page is out of range meaning the page number provided in the request query has exceeded the total number of movies present.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /movies/{movieId}:
    get:
      summary: Get movie detail using the id
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getMovieById
      parameters:
        - in: path
          name: movieId
          required: true
          description: The id of the move that is requested
          schema:
            type: integer
        - in: query
          name: includeActors
          required: false
          description: |
            Whether or not to include the actors of the movie. Accepted values are true, false, yes, no, 0 and 1.
            If includeActors value is truthy then the movie object will contain actors array.
            If this is not present in query then it will default to false. If any value other than the accepted ones are
            given, then 400 is returned.
          schema:
            type: boolean
      responses:
        '200':
          description: Successfully returned a the movie data with or without the actors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/movieWithActors'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          description: The movie does not exist for the given id
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /actors:
    get:
      summary: Get the actor list with pagination support
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getActors
      parameters:
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of actors from.
            The actors are split into multiple pages with each page having a limited number of actors.
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successfully returned a list of actors
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/actor'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /actors/search/{name}:
    get:
      summary: Get the actor list with pagination support
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: exactSearchActors
      parameters:
        - in: path
          name: name
          required: false
          description: The name of the actor to search for. This will return all the actors with the matching name.
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned a list of actors with the given name.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/actor'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /actors/search:
    get:
      summary: Get the actor list with pagination support
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: searchActors
      parameters:
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of actors from.
            The actors are split into multiple pages with each page having a limited number of actors.
          schema:
            type: integer
            default: 1
        - in: query
          name: q
          required: false
          description: The sequence of characters to search for in the name of the actors
          schema:
            type: string
        - in: header
          name: rf-id-offset
          required: false
          description: |
            The rf-id-offset is required when requesting subsequent pages from the first one.
          schema:
            type: integer
        - in: header
          name: rf-page-offset
          required: false
          description: |
            The rf-page-offset is required when requesting subsequent pages from the first one.
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned a list of actors
          headers:
            rf-page-offset:
              description: |
                The page number for the page that is sent. This is needed when navigating between pages.
              schema:
                type: integer
            rf-id-offset:
              description: |
                The id of the last record (or the max of ids in page sent) in the page that is sent.
                This is needed when navigating between pages.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/actor'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
components:
  securitySchemes:
    ReelFake_ApiKey_Auth:
      type: apiKey
      name: reelfake-api-key
      in: header
  schemas:
    genre:
      type: object
      properties:
        id:
          type: integer
        genreName:
          type: string
    cityWithCountry:
      type: object
      properties:
        id:
          type: integer
        cityName:
          type: string
        stateName:
          type: string
        country:
          type: object
          properties:
            id:
              type: integer
            countryName:
              type: string
            countryCode:
              type: string
    city:
      type: object
      properties:
        id:
          type: integer
        cityName:
          type: string
        stateName:
          type: string
        countryId:
          type: integer
    country:
      type: object
      properties:
        id:
          type: integer
        countryName:
          type: string
        countryCode:
          type: string
    movieLanguage:
      type: object
      properties:
        id:
          type: integer
        languageName:
          type: string
        languageCode:
          type: string
    movie:
      type: object
      properties:
        id:
          type: integer
        imdbId:
          type: string
        title:
          type: string
        originalTitle:
          type: string
        overview:
          type: string
        runtime:
          type: integer
        genres:
          type: array
          items:
            type: string
        country:
          type: array
          items:
            type: string
        language:
          type: string
        movieStatus:
          type: string
        popularity:
          type: number
        budget:
          type: integer
        revenue:
          type: integer
        ratingAverage:
          type: integer
        ratingCount:
          type: integer
        posterUrl:
          type: string
        rentalRate:
          type: number
        rentalDuration:
          type: integer
    movieWithActors:
      type: object
      properties:
        id:
          type: integer
        imdbId:
          type: string
        title:
          type: string
        originalTitle:
          type: string
        overview:
          type: string
        runtime:
          type: integer
        genres:
          type: array
          items:
            type: string
        country:
          type: array
          items:
            type: string
        language:
          type: string
        movieStatus:
          type: string
        popularity:
          type: number
        budget:
          type: integer
        revenue:
          type: integer
        ratingAverage:
          type: integer
        ratingCount:
          type: integer
        posterUrl:
          type: string
        rentalRate:
          type: number
        rentalDuration:
          type: integer
        actors:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              actorName:
                type: string
              characterNAme:
                type: string
              castOrder:
                type: integer
              profilePictureUrl:
                type: string
    actor:
      type: object
      properties:
        id:
          type: integer
        imdbId:
          type: string
        actorName:
          type: string
        biography:
          type: string
        birthday:
          type: string
          format: date
        deathday:
          type: string
          format: date
        placeOfBirth:
          type: string
        popularity:
          type: number
          format: float
        profilePictureUrl:
          type: string
  responses:
    unauthorized:
      description: Api key is missing or invalid
      headers:
        WWW_Authenticate:
          schema:
            type: string
