openapi: 3.1.0
info:
  version: 1.0.0
  title: Reel Fake Api
  description: A REST api for buying or renting a movie dvd (only for educational purposes)
  license:
    name: MIT License
    url: https://mit-license.org
  contact:
    name: Pratap Reddy
    email: pratapreddy15@gmail.com
servers:
  - url: http://reelfake.cloud/api
    description: Production server
  - url: http://127.0.0.1:8000/api
    description: Local server
security:
  - cookieAuth: []
paths:
  /actors:
    get:
      summary: Get the actor list with pagination support
      operationId: getActors
      tags:
        - actor
      parameters:
        - in: query
          name: page
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of actors from.
            The actors are split into multiple pages with each page having a limited number of actors.
          schema:
            type: integer
            default: 1
        - in: query
          name: name
          required: false
          description: |
            The name of the actor. The api accepts ?name=keanu (for exact match) and ?name=%an% (for actor name having "an").
          schema:
            type: string
        - in: query
          name: birthday
          required: false
          description: |
            Filters the actors by the birth date (YYYY-MM-DD). This can be a single date or a range. For e.g., ?birthday=1980-01-01 or ?birthday=1980-01-01,1990-06-30. The query string ?birthday=1980-01-01 will query actors with the given birth date while ?birthday=1980-01-01,1990-06-30 will query actors born between 1980-01-01 and 1990-06-30.
          schema:
            type: string
            format: date
        - in: query
          name: deathday
          required: false
          description: |
            Filters the actors by the death date (YYYY-MM-DD). This can be a single date or a range. For e.g., ?deathday=1980-01-01 or ?deathday=1980-01-01,1990-06-30. The query string ?deathday=1980-01-01 will query actors with the given death date while ?deathday=1980-01-01,1990-06-30 will query actors died between 1980-01-01 and 1990-06-30.
          schema:
            type: string
            format: date
        - in: query
          name: place_of_birth
          required: false
          description: |
            The place of birth of the actor. The api accepts ?place_of_birth=jakarta (for exact match) and ?place_of_birth=%art% (for place of birth having "art").
          schema:
            type: string
        - in: query
          name: popularity
          required: false
          description: |
            The popularity index of the actor
          schema:
            type: integer
            format: float
      responses:
        '200':
          description: Successfully returned list of actor summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/actorSummary'
                  length:
                    type: integer
                  pagination:
                    $ref: '#/components/schemas/pagination'
        '400':
          $ref: '#/components/responses/badRequest'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      summary: Add new actor
      operationId: addActor
      tags:
        - actor
      requestBody:
        description: Payload for the new actor
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tmdbId:
                  type: string
                imdbId:
                  type: string
                actorName:
                  type: string
                biography:
                  type: string
                birthday:
                  type: string
                  format: date
                deathday:
                  type: string
                  format: date
                placeOfBirth:
                  type: string
                popularity:
                  type: number
                  format: float
                profilePictureUrl:
                  type: string
                  format: uri
      responses:
        '201':
          description: Successfully added new actor
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  imdbId:
                    type: string
                  actorName:
                    type: string
                  biography:
                    type: string
                  birthday:
                    type: string
                    format: date
                  deathday:
                    type: string
                    format: date
                  placeOfBirth:
                    type: string
                  popularity:
                    type: number
                    format: float
                  profilePictureUrl:
                    type: string
                    format: uri
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/internalServerError'
  /actors/{id}:
    get:
      summary: Get actor detail using the id
      operationId: getActorById
      tags:
        - actor
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the actor that is requested
          schema:
            type: integer
        - in: query
          name: includeMovies
          required: false
          description: |
            Whether or not to include the movies for the actor. Accepted values are true, false, yes, no, 0 and 1.
            If includeMovies value is truthy then the actor object with the movies are returned.
            If this is not present in query then it will default to false. If any value other than the accepted ones are
            given, then 400 is returned.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successfully returned actorDetail object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actorDetail'
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      summary: Add the actor to the movie
      operationId: addToMovie
      tags:
        - actor
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the actor
          schema:
            type: integer
      requestBody:
        description: Payload for the actor to add to the movie
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                movieId:
                  type: integer
                  format: number
                characterName:
                  type: string
                castOrder:
                  type: integer
                  format: number
      responses:
        '201':
          description: Successfully added the actor the movie
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  actorId:
                    type: integer
                  movieId:
                    type: integer
                  characterName:
                    type: string
                  castOrder:
                    type: integer
                    format: number
                required:
                  - id
                  - actorId
                  - movieId
                  - characterName
                  - castOrder
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
    put:
      summary: Update actor
      operationId: updateActor
      tags:
        - actor
      parameters:
        - in: path
          name: id
          required: true
          description: Id of the actor
          schema:
            type: integer
      requestBody:
        description: Payload of the actor to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tmdbId:
                  type: integer
                  format: number
                imdbId:
                  type: integer
                  format: number
                actorName:
                  type: string
                biography:
                  type: string
                birthday:
                  type: string
                  format: date
                deathday:
                  type: string
                  format: date
                placeOfBirth:
                  type: string
                popularity:
                  type: string
                profilePictureUrl:
                  type: string
                  format: uri
      responses:
        '204':
          description: Successfully updated actor
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
    delete:
      summary: |
        Delete the actor.
        Note: This operation will delete movie actors for the movie as well.
      operationId: deleteActor
      tags:
        - actor
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the actor
          schema:
            type: integer
      responses:
        '204':
          description: Successfully deleted the movie
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /addresses:
    get:
      summary: Get the list of available addresses
      operationId: getAddresses
      tags:
        - address
      parameters:
        - in: query
          name: page
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of customers from.
            This parameter accepts the string first and last for the first and last pages, respectively.
            The addresses are split into multiple pages with each page having a limited number of customers.
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successfully returned a list of available addresses
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: number
                        addressLine:
                          type: string
                        cityName:
                          type: string
                        stateName:
                          type: string
                        country:
                          type: string
                        postalCode:
                          type: string
                  length:
                    type: integer
                    format: number
                  pagination:
                    $ref: '#/components/schemas/pagination'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /addresses/city/{city}:
    get:
      summary: Get the list of available addresses in a city
      operationId: getAddressesInCity
      tags:
        - address
      parameters:
        - in: path
          name: city
          required: true
          description: The name of the city
          schema:
            type: string
            example: Melbourne
      responses:
        '200':
          description: Successfully returned a list of available addresses in a city
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: number
                        addressLine:
                          type: string
                        cityName:
                          type: string
                        stateName:
                          type: string
                        country:
                          type: string
                        postalCode:
                          type: string
                  length:
                    type: integer
                    format: number
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /addresses/state/{state}:
    get:
      summary: Get the list of available addresses in a state
      operationId: getAddressesInState
      tags:
        - address
      parameters:
        - in: path
          name: state
          required: true
          description: The name of the state
          schema:
            type: string
            example: New South Wales
      responses:
        '200':
          description: Successfully returned a list of available addresses in a state
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: number
                        addressLine:
                          type: string
                        cityName:
                          type: string
                        stateName:
                          type: string
                        country:
                          type: string
                        postalCode:
                          type: string
                  length:
                    type: integer
                    format: number
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /auth/login:
    post:
      summary: Login user (token valid for 1 hour)
      operationId: login
      tags:
        - authentication
      security: []
      requestBody:
        description: Provide the user email and password for login
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '201':
          description: User logged in successfully
          headers:
            Set-Cookie:
              description: The token generated on successful login is sent in a cookie
              schema:
                type: string
                example: auth_token=abcde12345; Path=/; HttpOnly
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Login successful
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /auth/logout:
    get:
      summary: Logout user
      operationId: logout
      tags:
        - authentication
      security: []
      responses:
        '200':
          description: User logged out successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Logged out successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /auth/me:
    get:
      summary: Get user detail for the logged in user
      operationId: getUserProfile
      security:
        - cookieAuth: []
      tags:
        - authentication
      responses:
        '200':
          description: Successfully returned the logged in user detail
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/customerDetail'
                  - $ref: '#/components/schemas/staffItem'
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /cities:
    get:
      summary: Get the list of the cities
      operationId: getCities
      tags:
        - city
      parameters:
        - in: query
          name: includeCountry
          description: Include the country data for each city (if true will each city will contain country object)
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successfully returned a list of the cities
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/cityWithCountry'
                      length:
                        type: integer
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/city'
                      length:
                        type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /countries:
    get:
      summary: Get all the countries
      operationId: getCountries
      tags:
        - country
      responses:
        '200':
          description: Successfully returned a list of countries
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/country'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /customers/{id}/forgot_password:
    put:
      summary: Change the customer password which is forgotten
      operationId: forgotCustomerPassword
      tags:
        - customer
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the customer
          schema:
            type: integer
      requestBody:
        description: New password in the payload
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                newPassword:
                  type: string
                  format: password
                confirmedNewPassword:
                  type: string
                  format: password
      responses:
        '200':
          description: Successfully changed the password
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: number
                  email:
                    type: string
                    format: email
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /customers/{id}/change_password:
    put:
      summary: Change the customer password
      operationId: changeCustomerPassword
      security:
        - cookieAuth: []
      tags:
        - customer
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the customer
          schema:
            type: integer
      requestBody:
        description: Payload for the current and new password
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currentPassword:
                  type: string
                  format: password
                newPassword:
                  type: string
                  format: password
                confirmedNewPassword:
                  type: string
                  format: password
      responses:
        '200':
          description: Successfully changed the password
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: number
                  email:
                    type: string
                    format: email
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /customers:
    get:
      summary: Get the customer list with pagination support
      operationId: getCustomers
      security:
        - cookieAuth: []
      tags:
        - customer
      parameters:
        - in: query
          name: page
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of customers from.
            The customers are split into multiple pages with each page having a limited number of customers.
          schema:
            type: integer
            default: 1
        - in: query
          name: first_name
          required: false
          description: |
            The first name of the customer.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: first_name=%tap, first_name=pra% and first_name=%ata%.
          schema:
            type: string
        - in: query
          name: last_name
          required: false
          description: |
            The last name of the customers.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: last_name=%tap, last_name=pra% and last_name=%ata%.
          schema:
            type: string
        - in: query
          name: email
          required: false
          description: |
            The email of the customers.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: email=%tap, email=pra% and email=%ata%.
          schema:
            type: string
            format: email
        - in: query
          name: phone_number
          required: false
          description: |
            The phone number of the customer. This query supports only exact match.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: phone_number=%456, phone_number=123% and phone_number=%456%.
          schema:
            type: string
        - in: query
          name: registered_on
          required: false
          description: |
            Filters the customers by the registered date (YYYY-MM-DD). This can be a single registered date or a range. For e.g., ?registered_on=2024-01-01 or ?registered_on=2024-01-01,2024-06-30. The query string ?registered_on=2024-01-01 will query customers with the given registered date while ?registered_on=2024-01-01,2024-06-30 will query customers registered between 2024-01-01 and 2024-06-30.
          schema:
            type: string
            format: date
        - in: query
          name: address_line
          required: false
          description: |
            The address line of the customer resident.
            Filters the customer by the address line of the customer address.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: address_line=%street, address_line=any% and address_line=%str%.
          schema:
            type: string
        - in: query
          name: city
          required: false
          description: |
            The city of the customer resident.
            Filters the customer by the city of the customer resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: city=%abad, city=hyder% and city=%aba%.
          schema:
            type: string
        - in: query
          name: state
          required: false
          description: |
            The state of the customer resident.
            Filters the customer by the state of the customer resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: state=%gana, state=tel% and state=%anga%.
          schema:
            type: string
        - in: query
          name: country
          required: false
          description: |
            The country of the customer resident.
            Filters the customer by the country of the customer resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: country=%dia, country=ind% and country=%ndi%.
          schema:
            type: string
        - in: query
          name: postal_code
          required: false
          description: |
            The postal_code of the customer resident.
            Filters the customer by the postal_code of the customer resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: postal_code=%048, postal_code=500% and postal_code=%000%.
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned list of customer summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/customerSummary'
                  length:
                    type: integer
                  pagination:
                    $ref: '#/components/schemas/pagination'
        '400':
          $ref: '#/components/responses/badRequest'
        '500':
          $ref: '#/components/responses/internalServerError'
  /customers/summary:
    get:
      summary: Get the customer list with pagination support
      operationId: getCustomersSummary
      security:
        - cookieAuth: []
      tags:
        - customer
      parameters:
        - in: query
          name: page
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of customers from.
            The customers are split into multiple pages with each page having a limited number of customers.
          schema:
            type: integer
            default: 1
        - in: query
          name: first_name
          required: false
          description: |
            The first name of the customer.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: first_name=%tap, first_name=pra% and first_name=%ata%.
          schema:
            type: string
        - in: query
          name: last_name
          required: false
          description: |
            The last name of the customers.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: last_name=%tap, last_name=pra% and last_name=%ata%.
          schema:
            type: string
        - in: query
          name: email
          required: false
          description: |
            The email of the customers.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: email=%tap, email=pra% and email=%ata%.
          schema:
            type: string
            format: email
        - in: query
          name: phone_number
          required: false
          description: |
            The phone number of the customer. This query supports only exact match.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: phone_number=%456, phone_number=123% and phone_number=%456%.
          schema:
            type: string
        - in: query
          name: registered_on
          required: false
          description: |
            Filters the customers by the registered date (YYYY-MM-DD). This can be a single registered date or a range. For e.g., ?registered_on=2024-01-01 or ?registered_on=2024-01-01,2024-06-30. The query string ?registered_on=2024-01-01 will query customers with the given registered date while ?registered_on=2024-01-01,2024-06-30 will query customers registered between 2024-01-01 and 2024-06-30.
          schema:
            type: string
            format: date
        - in: query
          name: address_line
          required: false
          description: |
            The address line of the customer resident.
            Filters the customer by the address line of the customer address.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: address_line=%street, address_line=any% and address_line=%str%.
          schema:
            type: string
        - in: query
          name: city
          required: false
          description: |
            The city of the customer resident.
            Filters the customer by the city of the customer resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: city=%abad, city=hyder% and city=%aba%.
          schema:
            type: string
        - in: query
          name: state
          required: false
          description: |
            The state of the customer resident.
            Filters the customer by the state of the customer resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: state=%gana, state=tel% and state=%anga%.
          schema:
            type: string
        - in: query
          name: country
          required: false
          description: |
            The country of the customer resident.
            Filters the customer by the country of the customer resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: country=%dia, country=ind% and country=%ndi%.
          schema:
            type: string
        - in: query
          name: postal_code
          required: false
          description: |
            The postal_code of the customer resident.
            Filters the customer by the postal_code of the customer resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: postal_code=%048, postal_code=500% and postal_code=%000%.
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned list of customer summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: number
                        firstName:
                          type: string
                        lastName:
                          type: string
                        email:
                          type: string
                          format: email
                        active:
                          type: boolean
                  length:
                    type: integer
                  pagination:
                    $ref: '#/components/schemas/pagination'
        '400':
          $ref: '#/components/responses/badRequest'
        '500':
          $ref: '#/components/responses/internalServerError'
  /customers/register:
    post:
      summary: Register a customer
      operationId: registerCustomer
      tags:
        - customer
      requestBody:
        description: Payload for the new customer
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '201':
          description: Successfully registered customer
          headers:
            Set-Cookie:
              description: The token generated from successful registration of customer
              schema:
                type: string
                example: auth_token=abcde12345
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '500':
          $ref: '#/components/responses/internalServerError'
  /customers/{id}:
    get:
      summary: Get customer detail using the id
      operationId: getCustomerById
      security:
        - cookieAuth: []
      tags:
        - customer
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the customer
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned the customer data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerDetail'
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
    put:
      summary: Update customer
      operationId: updateCustomer
      tags:
        - customer
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the customer
          schema:
            type: integer
      requestBody:
        description: Payload of the movie to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    cityName:
                      type: string
                    stateName:
                      type: string
                    country:
                      type: string
                    postalCode:
                      type: string
                phoneNumber:
                  type: string
                avatar:
                  type: string
                  format: uri
      responses:
        '204':
          description: Successfully updated the customer
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
    delete:
      summary: |
        Delete the customer.
        Note: It is not allowed to delete a customer which is in use by any user
      operationId: deleteCustomer
      tags:
        - customer
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the customer
          schema:
            type: integer
      responses:
        '204':
          description: Successfully deleted the customer
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /customers/{id}/activate:
    patch:
      summary: Activate customer
      operationId: activateCustomer
      security:
        - cookieAuth: []
      tags:
        - customer
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the customer
          schema:
            type: integer
      responses:
        '204':
          description: Successfully updated the customer
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /customers/{id}/deactivate:
    patch:
      summary: Deactivate customer
      operationId: deactivateCustomer
      tags:
        - customer
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the customer
          schema:
            type: integer
      responses:
        '204':
          description: Successfully updated the customer
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /customers/{id}/preferred_store/{store_id}:
    patch:
      summary: Set preferred store for the customer
      operationId: setPreferredStore
      tags:
        - customer
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the customer
          schema:
            type: integer
        - in: path
          name: store_id
          required: true
          description: The id of the store to be set as preferred on
          schema:
            type: integer
      responses:
        '204':
          description: Successfully updated the customer
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /genres:
    get:
      summary: Get all available genres
      operationId: getGenres
      tags:
        - genre
      responses:
        '200':
          description: Successfully returned a list of available movie genres
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/genre'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /movie_languages:
    get:
      summary: Get all available movie languages
      operationId: getMovieLanguages
      tags:
        - movie_language
      responses:
        '200':
          description: Successfully returned a list of available movie languages
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movieLanguage'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /movies:
    get:
      summary: Get the list of movies with the pagination support
      operationId: getMovies
      tags:
        - movie
      parameters:
        - in: query
          name: page
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of movies from.
            The movies are split into multiple pages with each page having a limited number of movies.
          schema:
            type: integer
            default: 1
        - in: query
          name: genres
          required: false
          description: |
            The valid genres are action, adventure, animation, comedy, crime, documentary, drama, family, fantasy, history, horror, music , mystery, romance, science fiction, thriller, war and western. There are two variants of this query - comma separated genres and genres in array. For e.g., ?genres=action,thriller,sci_fi or ?genres=["action","thriller","sci_fi"]. The comma separated genres will query the movie having either of the genre. The genres in array will query the movie having the genres mentioned in the array. Example, ?genres=action,thriller,sci_fi will return movies having genre action, thriller or science fiction while ?genres=["action","thriller","sci_fi"] will return the movies having all genre i.e. action, thriller and science fiction.
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
        - in: query
          name: release_date
          required: false
          description: |
            Filters the movies by the release date (YYYY-MM-DD). This can be a single release date or a range. For e.g., ?release_date=2024-01-01 or ?release_date=2024-01-01,2024-06-30. The query string ?release_date=2024-01-01 will query movies with the given release date while ?release_date=2024-01-01,2024-06-30 will query movies released between 2024-01-01 and 2024-06-30.
          schema:
            type: string
            format: date
        - in: query
          name: countries
          required: false
          description: |
            Filters the movies by the countries of origin. There are two variants of this query - comma separated countries or countries in array. For e.g., ?countries=cl,br and ?countries=["cl","br"]. The comma separated countries will query the movie having either of the country of origin. The countries in array will query the movie having the countries of origin mentioned in the array. Example, ?countries=cl,br will return movies having countries of origin either Chile or Brazil while ?countries=["cl","br"] will return the movies having all provided countries i.e. Chile and Brazil.
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
        - in: query
          name: languages
          required: false
          description: |
            Filters the movies by the languages. This can be a single value or a comma separated values. For e.g., ?languages=fr or ?languages=es,fr,hi. The query string ?languages=fr will query movies which are in French language while ?languages=es,fr,hi will query movies which are in either of the French, Spanish or Hindi languages.
          schema:
            type: string
        - in: query
          name: rating
          required: false
          description: |
            Filters the movies by rating. This can be a single value or a range. For e.g., ?rating=7 or ?release_date=6,9. The query string ?rating=7 will query movies having rating 7 while ?rating=6,9 will query movies with ratings between 6 and 9, inclusive.
          schema:
            type: string
            format: number
      responses:
        '200':
          description: Successfully returned a list of movies (including pagination data) for the given page
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movieSummary'
                  length:
                    type: integer
                  pagination:
                    $ref: '#/components/schemas/pagination'
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          description: The page number provided is out of range.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      summary: Add new movie (optionally with the actors)
      operationId: addMovie
      tags:
        - movie
      requestBody:
        description: Payload for the new movie
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tmdbId:
                  type: integer
                imdbId:
                  type: string
                title:
                  type: string
                originalTitle:
                  type: string
                overview:
                  type: string
                runtime:
                  type: integer
                releaseDate:
                  type: string
                  format: date
                genres:
                  type: array
                  items:
                    type: string
                countriesOfOrigin:
                  type: array
                  items:
                    type: string
                language:
                  type: string
                movieStatus:
                  type: string
                popularity:
                  type: number
                  format: float
                budget:
                  type: integer
                  format: int64
                revenue:
                  type: integer
                  format: int64
                ratingAverage:
                  type: number
                  format: float
                ratingCount:
                  type: integer
                posterUrl:
                  type: string
                  format: uri
                rentalRate:
                  type: number
                  format: double
                actors:
                  type: array
                  items:
                    type: object
                    properties:
                      tmdbId:
                        type: integer
                      imdbId:
                        type: string
                      actorName:
                        type: string
                      biography:
                        type: string
                      birthday:
                        type: string
                        format: date
                      deathday:
                        type: string
                        format: date
                      placeOfBirth:
                        type: string
                      popularity:
                        type: number
                        format: float
                      profilePictureUrl:
                        type: string
                        format: uri
                      characterName:
                        type: string
                      castOrder:
                        type: integer
      responses:
        '201':
          description: Successfully add new movie
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  imdbId:
                    type: integer
                  title:
                    type: string
                  originalTitle:
                    type: string
                  overview:
                    type: string
                  runtime:
                    type: integer
                  releaseDate:
                    type: string
                    format: date
                  genres:
                    type: array
                    items:
                      type: string
                  countriesOfOrigin:
                    type: array
                    items:
                      type: string
                  language:
                    type: string
                  movieStatus:
                    type: string
                  popularity:
                    type: number
                    format: float
                  budget:
                    type: integer
                    format: int64
                  revenue:
                    type: integer
                    format: int64
                  ratingAverage:
                    type: number
                    format: float
                  ratingCount:
                    type: integer
                  posterUrl:
                    type: string
                    format: uri
                  rentalRate:
                    type: number
                    format: double
                  rentalDuration:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /movies/{id}:
    get:
      summary: Get movie detail using the id
      operationId: getMovieById
      tags:
        - movie
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the movie
          schema:
            type: integer
        - in: query
          name: include_actors
          required: false
          description: |
            Whether or not to include the actors of the movie. Accepted values are true, false, yes, no, 0 and 1.
            If include_actors value is truthy then the movie object will contain actors array.
            If this is not present in query then it will default to false. If any value other than the accepted ones are
            given, 400 is returned.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successfully returned the movie data with or without the actors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/movieDetail'
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
    put:
      summary: Update movie
      operationId: updateMovie
      tags:
        - movie
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the movie
          schema:
            type: integer
      requestBody:
        description: Payload of the movie to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tmdbId:
                  type: integer
                title:
                  type: string
                originalTitle:
                  type: string
                overview:
                  type: string
                runtime:
                  type: integer
                releaseDate:
                  type: string
                  format: date
                genres:
                  type: array
                  items:
                    type: string
                countriesOfOrigin:
                  type: array
                  items:
                    type: string
                language:
                  type: string
                movieStatus:
                  type: string
                popularity:
                  type: number
                  format: float
                budget:
                  type: integer
                  format: int64
                revenue:
                  type: integer
                  format: int64
                ratingAverage:
                  type: number
                  format: float
                ratingCount:
                  type: integer
                posterUrl:
                  type: string
                  format: uri
                rentalRate:
                  type: number
                  format: double
      responses:
        '204':
          description: Successfully updated the movie
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
    delete:
      summary: |
        Delete the movie.
        Note: This operation will delete movie actors and inventory for the movie as well.
      operationId: deleteMovie
      tags:
        - movie
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the movie
          schema:
            type: integer
      responses:
        '204':
          description: Successfully deleted the movie
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /movies/{id}/add_actors:
    post:
      summary: Add actors to movie
      operationId: addActors
      tags:
        - movie
      parameters:
        - in: path
          name: id
          required: true
          description: Id of the movie
          schema:
            type: integer
      requestBody:
        description: Payload for the new actors
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  tmdbId:
                    type: integer
                  imdbId:
                    type: string
                  actorName:
                    type: string
                  biography:
                    type: string
                  birthday:
                    type: string
                    format: date
                  deathday:
                    type: string
                    format: date
                  placeOfBirth:
                    type: string
                  popularity:
                    type: number
                    format: float
                  profilePictureUrl:
                    type: string
                    format: uri
                  characterName:
                    type: string
                  castOrder:
                    type: integer
      responses:
        '201':
          description: Successfully add actors to the movie
          content:
            application/json:
              schema:
                type: object
                properties:
                  newRecords:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        imdbId:
                          type: integer
                        actorName:
                          type: string
                        biography:
                          type: string
                        birthday:
                          type: string
                          format: date
                        deathday:
                          type: string
                          format: date
                        placeOfBirth:
                          type: string
                        popularity:
                          type: number
                          format: float
                        profilePictureUrl:
                          type: string
                          format: uri
                        characterName:
                          type: string
                        castOrder:
                          type: integer
                  duplicateRecords:
                    type: array
                    items:
                      type: object
                      properties:
                        imdbId:
                          type: integer
                        actorName:
                          type: string
                        biography:
                          type: string
                        birthday:
                          type: string
                          format: date
                        deathday:
                          type: string
                          format: date
                        placeOfBirth:
                          type: string
                        popularity:
                          type: number
                          format: float
                        profilePictureUrl:
                          type: string
                          format: uri
                        characterName:
                          type: string
                        castOrder:
                          type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /movies/{id}/stores:
    get:
      summary: Get stock count of the movie in all the stores
      operationId: findInStores
      tags:
        - movie
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the movie
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned the stock count in all the stores
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movieStock'
                  length:
                    type: integer
                    format: number
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /movies/upload/validate:
    post:
      summary: Validate the csv file to be upload
      operationId: validateUpload
      tags:
        - movie
      parameters:
        - in: query
          name: enable_tracking
          required: false
          schema:
            type: string
          description: |
            When enable_tracking is true, a tracking url will be sent to the client using which the client can stream the validation result.
            The acceptable values are true, yes or nothing. Examples - /api/movies/upload/validate?enable_tracking, /api/movies/upload/validate?enable_tracking=true and /api/movies/upload/validate?enable_tracking=yes.
      requestBody:
        content:
          text/csv:
            schema:
              type: string
              format: binary
              example: |
                tmdb_id,imdb_id,title,original_title,overview,runtime,release_date,genres,countries_of_origin,language,movie_status,popularity,budget,revenue,rating_average,rating_count,poster_url,rental_rate
                658224,tt24218194,some tile for the movie,some original title for the movie,some overview for the movie,104,01/01/2025,['drama','family'],['au'],en,Released,5,900000,12000000,8.5,120,https://example.com/movie_poster.jpg,20
      responses:
        '200':
          description: |
            Depending on enable_tracking query the response will differ. If enable_tracking is set in a request the trackingUrl will be sent in the response to let the client the stream the validation result. If not set, a json with the accumulated validation result will be sent.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      trackingUrl:
                        type: string
                  - type: object
                    properties:
                      totalRows:
                        type: integer
                      invalidRows:
                        type: array
                        items:
                          type: object
                          properties:
                            rowNumber:
                              type: integer
                            reasons:
                              type: array
                              items:
                                type: string
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /movies/upload/track_validation:
    get:
      summary: Track the validation for each row of the csv
      operationId: trackUploadValidation
      tags:
        - movie
      responses:
        '200':
          description: |
            Depending on enable_tracking query the response will differ. If the query is added to request and enabled below response stream is send.

            Stream of events with the validation result for the row in the csv file. The event payload is below.<br>
            "data: { "status": "processing", "rowNumber": <<number>>, "isValid": <<boolean>>, reasons: [<<string>>] }\n\n"
            - status: Indicating whether the validation is in progress or completed.
            - rowNumber: The position of the row in the csv. 1 is for row # 1, 2 for row # 2 and so on.
            - isValid: True when the row is valid and false is when the row is not valid.
            - reasons: The reasons for the row to be invalid.

            When csv file processing is finished, below event is send.<br>
            "data: { 'status': 'done', 'totalRows': <<number>>, 'validRowsCount': <<number>>, 'invalidRowsCount': <<number>> }\n\n"
            - totalRows: The total number of rows in the csv
            - validRowsCount: The count of valid rows in the csv that can be processed
            - invalidRowsCount: The count of invalid rows in the csv that cannot be processed
          content:
            text/event-stream:
              schema:
                type: string
                example: |
                  When processing is in progress
                  "data: { 'status': 'processing', 'rowNumber': <<number>>, 'isValid': <<boolean>>, reasons: [<<string>>] }\n\n"

                  When processing is done
                  "data: { 'status': 'done', 'totalRows': <<number>>, 'validRowsCount': <<number>>, 'invalidRowsCount': <<number>> }\n\n"
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/internalServerError'
  /movies/upload:
    post:
      summary: Bulk upload the movies from data in the csv file
      operationId: uploadMovies
      tags:
        - movie
      parameters:
        - in: query
          name: enable_tracking
          required: false
          schema:
            type: string
          description: |
            When enable_tracking is true, a tracking url will be sent to the client using which the client can stream the upload result.
            The acceptable values are true, yes or nothing. Examples - /api/movies/upload?enable_tracking, /api/movies/upload?enable_tracking=true and /api/movies/upload?enable_tracking=yes.
      requestBody:
        content:
          text/csv:
            schema:
              type: string
              format: binary
              example: |
                tmdb_id,imdb_id,title,original_title,overview,runtime,release_date,genres,countries_of_origin,language,movie_status,popularity,budget,revenue,rating_average,rating_count,poster_url,rental_rate
                658224,tt24218194,some tile for the movie,some original title for the movie,some overview for the movie,104,01/01/2025,['drama','family'],['au'],en,Released,5,900000,12000000,8.5,120,https://example.com/movie_poster.jpg,20
      responses:
        '200':
          description: |
            Depending on enable_tracking query the response will differ. If enable_tracking is set in a request the trackingUrl will be sent in the response to let the client the stream the upload result. If not set, a json with the accumulated upload result will be sent.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      trackingUrl:
                        type: string
                  - type: object
                    properties:
                      totalRows:
                        type: integer
                      successRows:
                        type: object
                        properties:
                          rowNumber:
                            type: integer
                          id:
                            type: integer
                      failedRows:
                        type: object
                        properties:
                          rowNumber:
                            type: integer
                          reasons:
                            type: array
                            items:
                              type: string
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /movies/upload/track:
    get:
      summary: Track the bulk upload of the movies from the csv file
      operationId: trackUpload
      tags:
        - movie
      responses:
        '200':
          description: |
            Depending on enable_tracking query the response will differ. If the query is added to request and enabled below response stream is send.

            Stream of events with the validation result for the row in the csv file.<br>
            The event payload for the row that is processed is below.<br>
            "data: { 'status': 'processing', 'outcome': 'success', 'rowNumber': <<number>>, 'id': <<number>> }\n\n"
            - status: Indicating whether the validation is in progress or completed.
            - rowNumber: The position of the row in the csv. 1 is for row # 1, 2 for row # 2 and so on.
            - id: Id of the created movie.

            The event payload for the failed row is below.<br>
            "data: { 'status': 'processing', 'outcome': 'failed', 'rowNumber': <<number>>, 'reasons': [<<string>>] }\n\n"

            When csv file processing is finished, below event is send.<br>
            "data: { 'status': 'done', 'totalRows': <<number>>, 'successRows': [<<{ 'rowNumber': <<number>>, 'id': <<number>> }>>], 'failedRows': [<< { 'rowNumber': <<number>>, 'reasons': [<<string>>] } >>] }\n\n"
            - totalRows: The total number of rows in the csv
            - successRows: The successfully processed rows having the row number and the id of the record
            - failedRows: The failed rows having the row number and reasons for the failure
          content:
            text/event-stream:
              schema:
                type: string
                example: |
                  When processing is in progress
                  If the row is successfully processed
                  "data: { 'status': 'processing', 'outcome': 'success', 'rowNumber': <<number>>, 'id': <<number>> }\n\n"

                  If the row is failed to process
                  "data: { 'status': 'processing', 'outcome': 'failed', 'rowNumber': <<number>>, 'reasons': [<<string>>] }\n\n"

                  When processing is done
                  "data: { 'status': 'done', 'totalRows': <<number>>, 'successRows': [<<{ 'rowNumber': <<number>>, 'id': <<number>> }>>], 'failedRows': [<< { 'rowNumber': <<number>>, 'reasons': [<<string>>] } >>] }\n\n"
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/internalServerError'
  /staff/{id}/forgot_password:
    put:
      summary: Change the staff password which is forgotten
      operationId: forgotStaffPassword
      tags:
        - staff
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the staff
          schema:
            type: integer
      requestBody:
        description: Payload for the new password
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                newPassword:
                  type: string
                  format: password
                confirmedNewPassword:
                  type: string
                  format: password
      responses:
        '200':
          description: Successfully changed the password
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: number
                  email:
                    type: string
                    format: email
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /staff/{id}/change_password:
    put:
      summary: Change the staff password
      operationId: changeStaffPassword
      tags:
        - staff
      parameters:
        - in: path
          name: id
          required: true
          description: Staff id
          schema:
            type: integer
      requestBody:
        description: Payload for the current and new password
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currentPassword:
                  type: string
                  format: password
                newPassword:
                  type: string
                  format: password
                confirmedNewPassword:
                  type: string
                  format: password
      responses:
        '200':
          description: Successfully changed the password
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: number
                  email:
                    type: string
                    format: email
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /staff:
    get:
      summary: Get list of all staff (optionally filter by residential state and city)
      operationId: getStaff
      tags:
        - staff
      parameters:
        - in: query
          name: page
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of staff from.
            The staff are split into multiple pages with each page having a limited number of staff.
          schema:
            type: integer
            default: 1
        - in: query
          name: first_name
          required: false
          description: |
            The first name of the staff.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: first_name=%tap, first_name=pra% and first_name=%ata%.
          schema:
            type: string
        - in: query
          name: last_name
          required: false
          description: |
            The last name of the staff.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: last_name=%tap, last_name=pra% and last_name=%ata%.
          schema:
            type: string
        - in: query
          name: email
          required: false
          description: |
            The email of the staff.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: email=%tap, email=pra% and email=%ata%.
          schema:
            type: string
            format: email
        - in: query
          name: phone_number
          required: false
          description: |
            The phone number of the staff.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: phone_number=%456, phone_number=123% and phone_number=%456%.
          schema:
            type: string
        - in: query
          name: address_line
          required: false
          description: |
            The address line of the staff resident.
            Filters the staff by the address line of the staff address.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: address_line=%street, address_line=any% and address_line=%str%.
          schema:
            type: string
        - in: query
          name: city
          required: false
          description: |
            The city of the staff resident.
            Filters the staff by the city of the staff resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: city=%abad, city=hyder% and city=%aba%.
          schema:
            type: string
        - in: query
          name: state
          required: false
          description: |
            The state of the staff resident.
            Filters the staff by the state of the staff resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: state=%gana, state=tel% and state=%anga%.
          schema:
            type: string
        - in: query
          name: country
          required: false
          description: |
            The country of the staff resident.
            Filters the staff by the country of the staff resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: country=%dia, country=ind% and country=%ndi%.
          schema:
            type: string
        - in: query
          name: postal_code
          required: false
          description: |
            The postal_code of the staff resident.
            Filters the staff by the postal_code of the staff resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: postal_code=%048, postal_code=500% and postal_code=%000%.
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned list of all staff
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/staffSummary'
                  length:
                    type: integer
                  pagination:
                    $ref: '#/components/schemas/pagination'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      summary: Add staff member
      operationId: createStaff
      tags:
        - staff
      requestBody:
        description: Payload for the new staff
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                phoneNumber:
                  type: string
                avatar:
                  type: string
                  format: uri
                storeId:
                  type: integer
                  format: number
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    cityName:
                      type: string
                    stateName:
                      type: string
                    postalCode:
                      type: string
      responses:
        '201':
          description: Successfully created staff
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: number
                    readOnly: true
                  firstName:
                    type: string
                  lastName:
                    type: string
                  email:
                    type: string
                    format: email
                  active:
                    type: boolean
                  phoneNumber:
                    type: string
                  avatar:
                    type: string
                    format: uri
                  storeId:
                    type: integer
                    format: number
                  address:
                    $ref: '#/components/schemas/address'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/internalServerError'
  /staff/summary:
    get:
      summary: Get list of all staff (optionally filter by residential state and city)
      operationId: getStaffSummary
      tags:
        - staff
      parameters:
        - in: query
          name: page
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of staff from.
            The staff are split into multiple pages with each page having a limited number of staff.
          schema:
            type: integer
            default: 1
        - in: query
          name: first_name
          required: false
          description: |
            The first name of the staff.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: first_name=%tap, first_name=pra% and first_name=%ata%.
          schema:
            type: string
        - in: query
          name: last_name
          required: false
          description: |
            The last name of the staff.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: last_name=%tap, last_name=pra% and last_name=%ata%.
          schema:
            type: string
        - in: query
          name: email
          required: false
          description: |
            The email of the staff.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: email=%tap, email=pra% and email=%ata%.
          schema:
            type: string
            format: email
        - in: query
          name: phone_number
          required: false
          description: |
            The phone number of the staff.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: phone_number=%456, phone_number=123% and phone_number=%456%.
          schema:
            type: string
        - in: query
          name: address_line
          required: false
          description: |
            The address line of the staff resident.
            Filters the staff by the address line of the staff address.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: address_line=%street, address_line=any% and address_line=%str%.
          schema:
            type: string
        - in: query
          name: city
          required: false
          description: |
            The city of the staff resident.
            Filters the staff by the city of the staff resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: city=%abad, city=hyder% and city=%aba%.
          schema:
            type: string
        - in: query
          name: state
          required: false
          description: |
            The state of the staff resident.
            Filters the staff by the state of the staff resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: state=%gana, state=tel% and state=%anga%.
          schema:
            type: string
        - in: query
          name: country
          required: false
          description: |
            The country of the staff resident.
            Filters the staff by the country of the staff resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: country=%dia, country=ind% and country=%ndi%.
          schema:
            type: string
        - in: query
          name: postal_code
          required: false
          description: |
            The postal_code of the staff resident.
            Filters the staff by the postal_code of the staff resident.
            Prefix % for starts with search, suffix % for ends with search and enclose with % for contains search.
            Example: postal_code=%048, postal_code=500% and postal_code=%000%.
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned list of all staff
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: number
                        firstName:
                          type: string
                        lastName:
                          type: string
                        email:
                          type: string
                          format: email
                        active:
                          type: boolean
                  length:
                    type: integer
                  pagination:
                    $ref: '#/components/schemas/pagination'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/internalServerError'
  /staff/managers:
    get:
      summary: Get list of store managers
      operationId: getStoreManagers
      tags:
        - staff
      responses:
        '200':
          description: Successfully returned list of store managers
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: number
                        firstName:
                          type: string
                        lastName:
                          type: string
                        email:
                          type: string
                          format: email
                        active:
                          type: boolean
                        phoneNumber:
                          type: string
                        avatar:
                          type: string
                        address:
                          $ref: '#/components/schemas/address'
                        store:
                          type: object
                          properties:
                            id:
                              type: integer
                              format: number
                            phoneNumber:
                              type: string
                            address:
                              $ref: '#/components/schemas/address'
                  length:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/internalServerError'
  /staff/managers/summary:
    get:
      summary: Get list of store managers
      operationId: getStoreManagersSummary
      tags:
        - staff
      responses:
        '200':
          description: Successfully returned list of store managers
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: number
                        firstName:
                          type: string
                        lastName:
                          type: string
                        email:
                          type: string
                          format: email
                        active:
                          type: boolean
                  length:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/internalServerError'
  /staff/{id}:
    get:
      summary: Get staff detail
      operationId: getStaffById
      tags:
        - staff
      parameters:
        - in: path
          name: id
          required: true
          description: Id of the staff
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned staff detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/staffItem'
                  - type: object
                    properties:
                      store:
                        type: object
                        properties:
                          id:
                            type: integer
                            format: number
                          phoneNumber:
                            type: string
                          address:
                            $ref: '#/components/schemas/address'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/internalServerError'
    put:
      summary: Update staff
      operationId: updateStaff
      tags:
        - staff
      parameters:
        - in: path
          name: id
          required: true
          description: Id of the staff
          schema:
            type: integer
      requestBody:
        description: Payload of the staff to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                  format: email
                active:
                  type: boolean
                phoneNumber:
                  type: string
                avatar:
                  type: string
                storeId:
                  type: integer
                  format: number
                address:
                  $ref: '#/components/schemas/address'
      responses:
        '204':
          description: Successfully updated staff
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/internalServerError'
    delete:
      summary: Delete staff
      operationId: deleteStaff
      tags:
        - staff
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the staff
          schema:
            type: integer
      responses:
        '204':
          description: Successfully deleted staff
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /stores:
    get:
      summary: Get list of stores
      operationId: getStores
      tags:
        - store
      responses:
        '200':
          description: Successfully returned an array of storeItem
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/storeItem'
                  length:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      summary: Create store
      operationId: createStore
      tags:
        - store
      requestBody:
        description: Payload for the new store
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    storeManagerId:
                      type: integer
                      format: number
                    phoneNumber:
                      type: string
                    address:
                      $ref: '#/components/schemas/address'
                - type: object
                  properties:
                    phoneNumber:
                      type: string
                    address:
                      $ref: '#/components/schemas/address'
                    storeManager:
                      type: object
                      properties:
                        firstName:
                          type: string
                        lastName:
                          type: string
                        email:
                          type: string
                          format: email
                        phoneNumber:
                          type: string
                        avatar:
                          type: string
                        address:
                          $ref: '#/components/schemas/address'
      responses:
        '201':
          description: Successfully created store
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: number
                  storeManager:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: number
                      firstName:
                        type: string
                      lastName:
                        type: string
                      email:
                        type: string
                        format: email
                      active:
                        type: boolean
                      avatar:
                        type: string
                      address:
                        $ref: '#/components/schemas/address'
                  phoneNumber:
                    type: string
                  address:
                    $ref: '#/components/schemas/address'
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/internalServerError'
  /stores/{id}:
    get:
      summary: Get store detail using the id
      operationId: getStoreById
      tags:
        - store
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the store
          schema:
            type: integer
[...]
