openapi: 3.1.0
info:
  version: 1.0.0
  title: Reel Fake Api
  description: A REST api for buying or renting a movie dvd (only for educational purposes)
  license:
    name: MIT License
    url: https://mit-license.org
  contact:
    name: Pratap Reddy
    email: pratapreddy15@gmail.com
servers:
  - url: http://reelfake.com
    description: Production server
  - url: http://127.0.0.1:8000
    description: Local server
security:
  - cookieAuth: []
paths:
  /user/register:
    post:
      summary: Create user account
      operationId: registerUser
      security: []
      requestBody:
        description: Provide the user email and password for registration
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                  format: password
      responses:
        '201':
          description: Successfully created a new user
          content:
            application/json:
              schema:
                type: object
                properties:
                  userEmail:
                    type: string
                    format: email
                  customerId:
                    type: integer
                  staffId:
                    type: integer
                  storeManagerId:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '500':
          $ref: '#/components/responses/internalServerError'
  /user/login:
    post:
      summary: Login user
      operationId: login
      security: []
      requestBody:
        description: Provide the user email and password for login
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '204':
          description: User logged in successfully
          headers:
            Set-Cookie:
              description: The token generated on successful login is sent in a cookie
              schema:
                type: string
                example: auth_token=abcde12345
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          $ref: '#/components/responses/internalServerError'
  /user/logout:
    get:
      summary: Logout user
      operationId: logout
      security: []
      responses:
        '204':
          description: User logged out successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          $ref: '#/components/responses/internalServerError'
  /user/me:
    get:
      summary: Get the user detail
      operationId: getUser
      responses:
        '200':
          description: Successfully updated the user data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/internalServerError'
    patch:
      summary: Update customer id, staff and/or store manager id
      operationId: updateUser
      requestBody:
        description: Provide customer id, staff and/or store manager id
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customerId:
                  type: integer
                staffId:
                  type: integer
                storeManagerId:
                  type: integer
      responses:
        '204':
          description: Successfully updated the user
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/internalServerError'
  /genres:
    get:
      summary: Get all available genres
      operationId: getGenres
      responses:
        '200':
          description: Successfully returned a list of available movie genres
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/genre'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /cities:
    get:
      summary: Get the list of the cities
      operationId: getCities
      parameters:
        - in: query
          name: includeCountry
          description: Include the country data for each city (if true will each city will contain country object)
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successfully returned a list of the cities
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/cityWithCountry'
                      length:
                        type: integer
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/city'
                      length:
                        type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /countries:
    get:
      summary: Get all the countries
      operationId: getCountries
      responses:
        '200':
          description: Successfully returned a list of countries
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/country'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /movie_languages:
    get:
      summary: Get all available movie languages
      operationId: getMovieLanguages
      responses:
        '200':
          description: Successfully returned a list of available movie languages
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movieLanguage'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /movies:
    get:
      summary: Get movies by page
      operationId: getMovies
      parameters:
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of movies from.
            The movies are split into multiple pages with each page having a limited number of movies.
          schema:
            type: integer
            default: 1
        - in: query
          name: genres
          required: false
          description: |
            The comma separated list of genres to filter the movies. The valid genres are action, adventure, animation, comedy, crime, documentary, drama, family, fantasy, history, horror, music , mystery, romance, science fiction, thriller, war and western.
          schema:
            type: array
            items:
              type: string
        - in: query
          name: releaseYear
          required: false
          description: |
            The release year to use for filtering the movies by release date. If release year is specified then release from and release to are ignored.
          schema:
            type: integer
        - in: query
          name: releaseFrom
          required: false
          description: |
            The release date as the starting point of date range to filter the movies by release date.
            Use either release from / to or release year. If release year is specified then release from and release to are ignored.
            The date format is yyy-mm-dd.
            For example, 2024-01-01 for January 1st 2024 or 2024-12-31 for December 31st 2024.
          schema:
            type: string
            format: date
        - in: query
          name: releaseTo
          required: false
          description: |
            The release date as the ending point of date range to filter the movies by release date.
            The date format is yyy-mm-dd.
            For example, 2024-01-01 for January 1st 2024 or 2024-12-31 for December 31st 2024.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successfully returned an array of movieItem for the given page
          headers:
            rf-page-number:
              description: The page number that the list of movies returned belong to
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movieItem'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          description: The page number provided is out of range.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      summary: Add new movie
      operationId: addMovie
      requestBody:
        description: Payload for the new movie
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tmdbId:
                  type: integer
                imdbId:
                  type: string
                title:
                  type: string
                originalTitle:
                  type: string
                overview:
                  type: string
                runtime:
                  type: integer
                releaseDate:
                  type: string
                  format: date
                genres:
                  type: array
                  items:
                    type: string
                countriesOfOrigin:
                  type: array
                  items:
                    type: string
                language:
                  type: string
                movieStatus:
                  type: string
                popularity:
                  type: number
                  format: float
                budget:
                  type: integer
                  format: int64
                revenue:
                  type: integer
                  format: int64
                ratingAverage:
                  type: number
                  format: float
                ratingCount:
                  type: integer
                posterUrl:
                  type: string
                  format: uri
                rentalRate:
                  type: number
                  format: double
                rentalDuration:
                  type: integer
                  format: int32
                actors:
                  type: array
                  items:
                    type: object
                    properties:
                      tmdbId:
                        type: integer
                      imdbId:
                        type: string
                      actorName:
                        type: string
                      biography:
                        type: string
                      birthday:
                        type: string
                        format: date
                      deathday:
                        type: string
                        format: date
                      placeOfBirth:
                        type: string
                      popularity:
                        type: number
                        format: float
                      profilePictureUrl:
                        type: string
                        format: uri
                      characterName:
                        type: string
                      castOrder:
                        type: integer
      responses:
        '201':
          description: Successfully add new movie
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  imdbId:
                    type: integer
                  title:
                    type: string
                  originalTitle:
                    type: string
                  overview:
                    type: string
                  runtime:
                    type: integer
                  releaseDate:
                    type: string
                    format: date
                  genres:
                    type: array
                    items:
                      type: string
                  countriesOfOrigin:
                    type: array
                    items:
                      type: string
                  language:
                    type: string
                  movieStatus:
                    type: string
                  popularity:
                    type: number
                    format: float
                  budget:
                    type: integer
                    format: int64
                  revenue:
                    type: integer
                    format: int64
                  ratingAverage:
                    type: number
                    format: float
                  ratingCount:
                    type: integer
                  posterUrl:
                    type: string
                    format: uri
                  rentalRate:
                    type: number
                    format: double
                  rentalDuration:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /movies/{id}:
    get:
      summary: Get movie detail using the id
      operationId: getMovieById
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the move that is requested
          schema:
            type: integer
        - in: query
          name: includeActors
          required: false
          description: |
            Whether or not to include the actors of the movie. Accepted values are true, false, yes, no, 0 and 1.
            If includeActors value is truthy then the movie object will contain actors array.
            If this is not present in query then it will default to false. If any value other than the accepted ones are
            given, then 400 is returned.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successfully returned the movie data with or without the actors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/movieDetail'
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /movies/{id}/add_actors:
    post:
      summary: Add actors to movie
      operationId: addActors
      parameters:
        - in: path
          name: id
          required: true
          description: Id of the movie
          schema:
            type: integer
      requestBody:
        description: Payload for the new actors
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  tmdbId:
                    type: integer
                  imdbId:
                    type: string
                  actorName:
                    type: string
                  biography:
                    type: string
                  birthday:
                    type: string
                    format: date
                  deathday:
                    type: string
                    format: date
                  placeOfBirth:
                    type: string
                  popularity:
                    type: number
                    format: float
                  profilePictureUrl:
                    type: string
                    format: uri
                  characterName:
                    type: string
                  castOrder:
                    type: integer
      responses:
        '201':
          description: Successfully add actors to the movie
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    imdbId:
                      type: integer
                    actorName:
                      type: string
                    biography:
                      type: string
                    birthday:
                      type: string
                      format: date
                    deathday:
                      type: string
                      format: date
                    placeOfBirth:
                      type: string
                    popularity:
                      type: number
                      format: float
                    profilePictureUrl:
                      type: string
                      format: uri
                    characterName:
                      type: string
                    castOrder:
                      type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /movies/search:
    get:
      summary: Search for the movie using query
      operationId: searchMovies
      parameters:
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of movies from.
            The movies are split into multiple pages with each page having a limited number of movies.
          schema:
            type: integer
            default: 1
        - in: query
          name: q
          required: true
          description: The query for searching
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned a list of movies matching the given query
          headers:
            rf-page-number:
              description: The page number that the list of movies returned belong to
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movieItem'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          description: The page number provided is out of range.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          $ref: '#/components/responses/internalServerError'
  /movies/{id}/stores:
    get:
      summary: Get stock count of the movie in all the stores
      operationId: findInStores
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the movie
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned the stock count in all the stores
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movieStock'
                  length:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /actors:
    get:
      summary: Get the actor list with pagination support
      operationId: getActors
      parameters:
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of actors from.
            The actors are split into multiple pages with each page having a limited number of actors.
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successfully returned an array of actorItem
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/actorItem'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      summary: Add new actor
      operationId: addActor
      requestBody:
        description: Payload for the new actor
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tmdbId:
                  type: string
                imdbId:
                  type: string
                actorName:
                  type: string
                biography:
                  type: string
                birthday:
                  type: string
                  format: date
                deathday:
                  type: string
                  format: date
                placeOfBirth:
                  type: string
                popularity:
                  type: number
                  format: float
                profilePictureUrl:
                  type: string
                  format: uri
      responses:
        '201':
          description: Successfully added new actor
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  imdbId:
                    type: string
                  actorName:
                    type: string
                  biography:
                    type: string
                  birthday:
                    type: string
                    format: date
                  deathday:
                    type: string
                    format: date
                  placeOfBirth:
                    type: string
                  popularity:
                    type: number
                    format: float
                  profilePictureUrl:
                    type: string
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/internalServerError'
  /actors/search:
    get:
      summary: Get the actor list with pagination support
      operationId: searchActors
      parameters:
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of actors from.
            The actors are split into multiple pages with each page having a limited number of actors.
          schema:
            type: integer
            default: 1
        - in: query
          name: q
          required: false
          description: |
            The sequence of characters to search for in the name of the actors.
            Either this or name must be present in the query.
          schema:
            type: string
        - in: query
          name: name
          required: false
          description: The name of the actor to search for
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned an array of actorItem
          headers:
            rf-page-number:
              description: The page number for the page that is sent
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/actorItem'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /actors/{id}:
    get:
      summary: Get actor detail using the id
      operationId: getActorById
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the actor that is requested
          schema:
            type: integer
        - in: query
          name: includeMovies
          required: false
          description: |
            Whether or not to include the movies for the actor. Accepted values are true, false, yes, no, 0 and 1.
            If includeMovies value is truthy then the actor object with the movies are returned.
            If this is not present in query then it will default to false. If any value other than the accepted ones are
            given, then 400 is returned.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successfully returned actorDetail object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actorDetail'
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /stores:
    get:
      summary: Get list of stores
      operationId: getStores
      responses:
        '200':
          description: Successfully returned an array of storeItem
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/storeItem'
                  length:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '500':
          $ref: '#/components/responses/internalServerError'
    post:
      summary: Create a store
      operationId: addStore
      requestBody:
        description: Payload for the new store
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                managerId:
                  type: integer
                phoneNumber:
                  type: string
                addressLine:
                  type: string
                city:
                  type: string
                state:
                  type: string
                country:
                  type: string
                postalCode:
                  type: string
      responses:
        '201':
          description: Successfully added new store
          content:
            application/json:
              schema:
                type: object
                properties:
                  managerId:
                    type: integer
                  phoneNumber:
                    type: string
                  address:
                    type: object
                    properties:
                      addressLine:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      country:
                        type: string
                      postalCode:
                        type: string
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/internalServerError'
  /stores/{id}:
    get:
      summary: Get store detail using the id
      operationId: getStoreById
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the store
          schema:
            type: integer
        - in: query
          name: includeStaff
          required: false
          description: |
            Whether or not to include the staff employed at the store. Accepted values are true, false, yes, no, 0 and 1.
            If includeStaff value is truthy then the store object will contain staff array.
            If this is not present in query then it will default to false. If any value other than the accepted ones are
            given, then 400 is returned.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successfully returned the store data with or without the staff
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/storeDetail'
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /stores/{id}/stock:
    get:
      summary: Get the number of in-stock movies in a given store
      operationId: getStockCount
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the store
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned the number of in-stock movies in a given store
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  stockCount:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /stores/{id}/movies:
    get:
      summary: Get in-stock movies in a store page by page
      operationId: getMoviesInStore
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the store
          schema:
            type: integer
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of in-stock movies from.
            The movies are split into multiple pages with each page having a limited number of items.
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successfully returned in-stock movies in a store for the given page number
          headers:
            rf-page-number:
              description: The page number that the data returned belong to
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movieItem'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
  /store/{id}/staff:
    get:
      summary: Get staff employed in a store
      operationId: getStaffInStore
      parameters:
        - in: path
          name: id
          required: true
          description: The id of the store
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned staff employed in a store
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/staffItem'
                  length:
                    type: integer
        '400':
          $ref: '#/components/responses/badRequest'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      name: auth_token
      in: cookie
  responses:
    badRequest:
      description: The request does not have the data that api needed
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    internalServerError:
      description: Server encountered unexpeted error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
    unauthorized:
      description: Api key is missing or invalid
      headers:
        WWW_Authenticate:
          schema:
            type: string
    notFound:
      description: Requested resource does not exist
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  schemas:
    user:
      type: object
      properties:
        userUUID:
          type: string
          format: uuid
        userEmail:
          type: string
          format: email
        customerId:
          type: integer
        staffId:
          type: integer
        storeManagerId:
          type: integer
    genre:
      type: object
      properties:
        id:
          type: integer
        genreName:
          type: string
    cityWithCountry:
      type: object
      properties:
        id:
          type: integer
        cityName:
          type: string
        stateName:
          type: string
        country:
          type: object
          properties:
            id:
              type: integer
            countryName:
              type: string
            countryCode:
              type: string
    city:
      type: object
      properties:
        id:
          type: integer
        cityName:
          type: string
        stateName:
          type: string
        countryId:
          type: integer
    country:
      type: object
      properties:
        id:
          type: integer
        countryName:
          type: string
        countryCode:
          type: string
    movieLanguage:
      type: object
      properties:
        id:
          type: integer
        languageName:
          type: string
        languageCode:
          type: string
    movieItem:
      type: object
      properties:
        id:
          type: integer
          description: Unique id of the resource
        title:
          type: string
          description: The title of the movie
        overview:
          type: string
          description: A brief summary of the movie
        runtime:
          type: integer
          description: The length of the movie
        releaseDate:
          type: string
          description: Date on which the movie is or will be released
          format: date
        genres:
          type: array
          description: |
            The genres that the movie belongs to. The valid genres are action, adventure, animation, 
            comedy, crime, documentary, drama, family, fantasy, history, horror, music , mystery, romance, 
            science fiction, thriller, war and western.
          items:
            type: string
        countriesOfOrigin:
          type: array
          description: The countries of origin of the movie
          items:
            type: string
        language:
          type: string
          description: The language that the movie is in
        popularity:
          type: number
          description: A number indicating how popular the movie is
          format: float
        ratingAverage:
          type: number
          description: The average rating of the movie
          format: float
        ratingCount:
          type: integer
          description: The number of ratings that the movie has got
        posterUrl:
          type: string
          description: Link to the movie poster
          format: uri
        rentalRate:
          type: number
          description: The rental rate of the movie
          format: float
        rentalDuration:
          type: integer
          description: The number of days that the movie can be rented
    movieDetail:
      type: object
      properties:
        id:
          type: integer
          description: Unique id of the resource
        imdbId:
          type: string
          description: Imdb id of the movie (using imdb id, we can visit imdb website using www.imdb.com/title/:imdb_id)
        title:
          type: string
          description: The title of the movie
        originalTitle:
          type: string
          description: The original title of the movie (if the movie is not in english then this might be different than title)
        overview:
          type: string
          description: A brief summary of the movie
        runtime:
          type: integer
          description: The length of the movie
        releaseDate:
          type: string
          description: Date on which the movie is or will be released
          format: date
        genres:
          type: array
          description: |
            The genres that the movie belongs to. The valid genres are action, adventure, animation, 
            comedy, crime, documentary, drama, family, fantasy, history, horror, music , mystery, romance, 
            science fiction, thriller, war and western.
          items:
            type: string
        countriesOfOrigin:
          type: array
          description: The countries of origin of the movie
          items:
            type: string
        language:
          type: string
          description: The language that the movie is in
        movieStatus:
          type: string
          description: Status of the movie like Released, Post-Production, etc.
        popularity:
          type: number
          description: A number indicating how popular the movie is
          format: float
        budget:
          type: integer
          description: The budget of the movie
        revenue:
          type: integer
          description: The revenue that the movie has generated
        ratingAverage:
          type: number
          description: The average rating of the movie
          format: float
        ratingCount:
          type: integer
          description: The number of ratings that the movie has got
        posterUrl:
          type: string
          description: Link to the movie poster
          format: uri
        rentalRate:
          type: number
          description: The rental rate of the movie
          format: float
        rentalDuration:
          type: integer
          description: The number of days that the movie can be rented
        actors:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                description: Unique id of the resource
              actorName:
                type: string
                description: Name of the actor
              characterNAme:
                type: string
                description: The name of the character that the actor has played in the movie
              castOrder:
                type: integer
                description: The order of character appearance in the movie
              profilePictureUrl:
                type: string
                description: Link to the profile picture of the actor
                format: uri
    movieStock:
      type: object
      properties:
        id:
          type: integer
          description: Unique id of the resource
        inventoryId:
          type: integer
          description: Unique id of the invetory
        movieId:
          type: integer
          description: Unique id of the movie
        addressLine:
          type: string
          description: This is typically street number and name (for e.g. 11 Reel Avenue)
        city:
          type: string
          description: City name
        state:
          type: string
          description: State name
        postalCode:
          type: string
          description: Postal code
        country:
          type: string
          description: Country name
        phoneNumber:
          type: string
          description: The phone number of the store
        stock:
          type: integer
          description: The number of stock of the movie in the store
    actorItem:
      type: object
      properties:
        id:
          type: integer
        actorName:
          type: string
        birthday:
          type: string
          format: date
        deathday:
          type: string
          format: date
        placeOfBirth:
          type: string
        popularity:
          type: number
          format: float
        profilePictureUrl:
          type: string
    actorDetail:
      type: object
      properties:
        id:
          type: integer
        imdbId:
          type: string
        actorName:
          type: string
        biography:
          type: string
        birthday:
          type: string
          format: date
        deathday:
          type: string
          format: date
        placeOfBirth:
          type: string
        popularity:
          type: number
          format: float
        profilePictureUrl:
          type: string
        movies:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              title:
                type: string
              releaseDate:
                type: string
                format: date
              genres:
                type: array
                items:
                  type: string
              ratingAverage:
                type: number
                format: float
              ratingCount:
                type: integer
              posterUrl:
                type: string
              cast:
                type: object
                properties:
                  characterName:
                    type: string
                  castOrder:
                    type: integer
                    format: number
    storeItem:
      type: object
      properties:
        id:
          type: integer
        addressLine:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        phoneNumber:
          type: string
    staffItem:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        isStoreManager:
          type: boolean
        isActive:
          type: boolean
        phoneNumber:
          type: string
        avatar:
          type: string
          format: uri
        address:
          type: object
          properties:
            addressLine:
              type: string
            city:
              type: string
            state:
              type: string
            country:
              type: string
            postalCode:
              type: string
    storeDetail:
      type: object
      properties:
        id:
          type: integer
        addressLine:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        phoneNumber:
          type: string
        staff:
          type: array
          items:
            $ref: '#/components/schemas/staffItem'
