openapi: 3.1.0
info:
  version: 1.0.0
  title: Reel Fake Api
  description: A REST api for buying or renting a movie dvd (only for educational purposes)
  license:
    name: MIT License
    url: https://mit-license.org
  contact:
    name: Pratap Reddy
    email: pratapreddy15@gmail.com
servers:
  - url: http://reelfake.com
    description: Production server
  - url: http://127.0.0.1:8000
    description: Local server
security:
  - ReelFake_ApiKey_Auth: []
paths:
  /genres:
    get:
      summary: Get all available genres
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getGenres
      responses:
        '200':
          description: Successfully returned a list of available movie genres
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/genre'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /cities:
    get:
      summary: Get the list of the cities
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getCities
      parameters:
        - in: query
          name: includeCountry
          description: Include the country data for each city (if true will each city will contain country object)
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Successfully returned a list of the cities
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/cityWithCountry'
                      length:
                        type: integer
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/city'
                      length:
                        type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /countries:
    get:
      summary: Get all the countries
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getCountries
      responses:
        '200':
          description: Successfully returned a list of countries
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/country'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /movie_languages:
    get:
      summary: Get all available movie languages
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getMovieLanguages
      responses:
        '200':
          description: Successfully returned a list of available movie languages
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movieLanguage'
                  length:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
  /movies:
    get:
      summary: Get movies by page
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getMovies
      parameters:
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of movies from.
            The movies are split into multiple pages with each page having a limited number of movies.
          schema:
            type: integer
            default: 1
        - in: query
          name: genres
          required: false
          description: |
            The comma separated list of genres to filter the movies. The valid genres are action, adventure, animation, comedy, crime, documentary, drama, family, fantasy, history, horror, music , mystery, romance, science fiction, thriller, war and western.
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successfully returned a list of movies for the given page
          headers:
            rf-page-number:
              description: The page number that the list of movies returned belong to
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movie'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          description: The page is out of range meaning the page number provided in the request query has exceeded the total number of movies present.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /movies/{releaseYear}:
    get:
      summary: Get movies released in a year
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getMoviesByYear
      parameters:
        - in: path
          name: releaseYear
          required: true
          description: The release year to find the movies
          schema:
            type: integer
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of movies from.
            The movies are split into multiple pages with each page having a limited number of movies.
          schema:
            type: integer
            default: 1
        - in: query
          name: genres
          required: false
          description: |
            The comma separated list of genres to filter the movies. The valid genres are action, adventure, animation, comedy, crime, documentary, drama, family, fantasy, history, horror, music , mystery, romance, science fiction, thriller, war and western.
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successfully returned a list of movies for the given page
          headers:
            rf-page-number:
              description: The page number that the list of movies returned belong to
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movie'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          description: The page is out of range meaning the page number provided in the request query has exceeded the total number of movies present.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: The server encountered unexpected exception
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /movies/{startDate}/{endDate}:
    get:
      summary: Get movies released in a year
      security:
        - ReelFake_ApiKey_Auth: []
      operationId: getMoviesByDateRange
      parameters:
        - in: path
          name: startDate
          required: true
          description: The release start date of the movie
          schema:
            type: string
        - in: path
          name: endDate
          required: true
          description: The release end date of the movie
          schema:
            type: string
        - in: query
          name: pageNumber
          required: false
          description: |
            The page number (which starts with 1) to fetch the set of movies from.
            The movies are split into multiple pages with each page having a limited number of movies.
          schema:
            type: integer
            default: 1
        - in: query
          name: genres
          required: false
          description: |
            The comma separated list of genres to filter the movies. The valid genres are action, adventure, animation, comedy, crime, documentary, drama, family, fantasy, history, horror, music , mystery, romance, science fiction, thriller, war and western.
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successfully returned a list of movies for the given page
          headers:
            rf-page-number:
              description: The page number that the list of movies returned belong to
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/movie'
                  length:
                    type: integer
                  totalPages:
                    type: integer
                  totalItems:
                    type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          description: The page is out of range meaning the page number provided in the request query has exceeded the total number of movies present.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: The server encountered unexpected exception
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
components:
  securitySchemes:
    ReelFake_ApiKey_Auth:
      type: apiKey
      name: reelfake-api-key
      in: header
  schemas:
    genre:
      type: object
      properties:
        id:
          type: integer
        genreName:
          type: string
    cityWithCountry:
      type: object
      properties:
        id:
          type: integer
        cityName:
          type: string
        stateName:
          type: string
        country:
          type: object
          properties:
            id:
              type: integer
            countryName:
              type: string
            countryCode:
              type: string
    city:
      type: object
      properties:
        id:
          type: integer
        cityName:
          type: string
        stateName:
          type: string
        countryId:
          type: integer
    country:
      type: object
      properties:
        id:
          type: integer
        countryName:
          type: string
        countryCode:
          type: string
    movieLanguage:
      type: object
      properties:
        id:
          type: integer
        languageName:
          type: string
        languageCode:
          type: string
    movie:
      type: object
      properties:
        id:
          type: integer
        imdbId:
          type: string
        title:
          type: string
        originalTitle:
          type: string
        overview:
          type: string
        runtime:
          type: integer
        genres:
          type: array
          items:
            type: string
        country:
          type: array
          items:
            type: string
        language:
          type: string
        movieStatus:
          type: string
        popularity:
          type: number
        budget:
          type: integer
        revenue:
          type: integer
        ratingAverage:
          type: integer
        ratingCount:
          type: integer
        posterUrl:
          type: string
        rentalRate:
          type: number
        rentalDuration:
          type: integer
  responses:
    unauthorized:
      description: Api key is missing or invalid
      headers:
        WWW_Authenticate:
          schema:
            type: string
